<!DOCTYPE html>
<html lang="zh-cn">

<!-- <head>
    <meta charset="UTF-8">
    <title>{block name="title"}教师页面{/block}</title>
    <link rel="stylesheet" type="text/css" href="\static\bootstrap-3.4.1-dist\css\bootstrap.min.css">
</head> -->
 
<head>
    <meta charset="UTF-8">
    <title>{block name="title"}预约时间管理{/block}</title>
    <link rel="stylesheet" type="text/css" href="\static\bootstrap-3.4.1-dist\css\bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body>
    <div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </button> <a class="navbar-brand" href="{:url('http://www.schoolsubcribe/index.php/index.php/index/Teacher/index')}">我的主页</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">时 间 管 理<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                     <a href="{:url('http://www.schoolsubcribe/index.php/index/Teacher/manager')}">管理我的时间</a>
                                </li>
                                <li>
                                     <a href="" data-toggle="modal" data-target="#fabu">发布新的时间</a>
                                </li>
                            </ul>
                        </li>
                    </ul>



                    <!-- <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div> <button type="submit" class="btn btn-default">Submit</button>
                    </form> -->


                    <ul class="nav navbar-nav navbar-right">
                        <li>
                             <a>欢迎您！{$t_data.t_name}老师</a>
                        </li>

                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人中心<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                     <a href="{:url('http://www.schoolsubcribe/index.php/index/Teacher/information')}">我的资料</a>
                                </li>
                                <li>
                                     <a href="#">我的通知</a>
                                </li>
                            
                                <li class="divider">
                                </li>
                                <li>
                                     <a href="#">退出登录</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
            </nav>
        </div>
    </div>
    </div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            
            <h3 class="text-left">
                管理我的时间
            </h3>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>预约编号</th>
                    <th>时间</th>
                    <th>地点</th>
                    <th>预约状态</th>
                    <th>课程</th>
                    <th>预约学生姓名</th>
                    <th>操作</th>
                </tr>
                </thead>
                {volist name="time" id="value"}
                <tr>
                    <th>{$value.seq}</th>
                    <th>{$value.date} {$value.time_seg}</th>
                    <th>{$value.place}</th>
                    <th>{$value.free}</th>
                    <th>{$value.class}</th>
                    <th>{$value.stu_name}</th>
                    <td>
                        <button type="button" class="btn btn-default btn-primary {if $value.free == 0}disabled{else /}" onclick="values({$value.seq})"{/if}">修改</button>

                        <a href="{:url('http://www.schoolsubcribe/index.php/index/Teacher/deleteTime','t_id='.$value.t_id.'&delete=1&seq='.$value.seq)}">
                        <button type="button" class="btn btn-default btn-danger">删除</button></a>
                    </td>
                </tr>
                {/volist}

        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#xiugai').modal("hide");
    });
    function values(ID){
        $('#seq_id').val(ID);
        $('#xiugai').modal('show');
    }
</script>
 <div id="xiugai" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h1 class="text-center">修改时间</h1>
                    </div>
                    <div class="modal-body">
                        <form class="form-group" action="{:url('http://www.schoolsubcribe/index.php/index/Teacher/editTime')}" method="post">
                            <div class="form-group">
                                <label for="">日期</label>
                                <input class="form-control" type="date" placeholder="年/月/日" name="date">
                            </div>
                            <div class="form-group">
                                <label for="">节次</label>
                                <br>

                                <input type="hidden" name="t_id" value="{$t_data.t_id}">
                                <input type="hidden" id="seq_id" name="seq" value="">

                                <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary">
                                    <input type="radio" name="time_seg" id="option01" value="第一大节">第一大节(08:00~10:00)
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="time_seg" id="option02" value="第二大节">第二大节(10:00~12:00)
                                </label>
                                <br>
                                <label class="btn btn-primary">
                                    <input type="radio" name="time_seg" id="option03" value="第三大节">第三大节(14:00~16:00)
                                 </label>   
                                <label class="btn btn-primary">
                                    <input type="radio" name="time_seg" id="option04" value="第四大节">第四大节(16:00~18:00)
                                </label>
                                 </div>
                            </div>
                            <div class="form-group">
                                <label for="">地点</label>
                                <input class="form-control" type="text" placeholder="请输入教室名" name="place">
                            </div>
                            
                            <div class="text-right">
                                <button class="btn btn-primary" type="submit" style="background-color: #3a8cd2b3;border: 0px solid transparent;">提交</button>
                                <button class="btn btn-danger" data-dismiss="modal" style="background-color: #fb5e5999;border: 0px solid transparent;">取消</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>     

    <div id="fabu" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h1 class="text-center">发布新的时间</h1>
                </div>
                <div class="modal-body">
                    <form class="form-group" action="{:url('http://www.schoolsubcribe/index.php/index/Teacher/publishTime')}" method="post">
                        <div class="form-group">
                            <label for="">日期</label>
                            <input class="form-control" type="date" value="" name="date">
                        </div>
                        <div class="form-group">
                            <label for="">节次</label>
                            <br>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary">
                                    <input type="radio" name="time_seg" id="option1" value="第一大节">第一大节(08:00~10:00)
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="time_seg" id="option2" value="第二大节">第二大节(10:00~12:00)
                                </label>
                                <br>
                                <label class="btn btn-primary">
                                    <input type="radio" name="time_seg" id="option3" value="第三大节">第三大节(14:00~16:00)
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="time_seg" id="option4" value="第四大节">第四大节(16:00~18:00)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">地点</label>
                            <input class="form-control" type="text" name="place" placeholder="请输入教室名">
                        </div>
                        <div class="form-group">
                            <label for="">课程</label>
                            <input class="form-control" type="text" name="class" placeholder="请输入课程名">
                        </div>

                        <div class="text-right">
                            <button class="btn btn-primary" type="submit" style="background-color: #3a8cd2b3;border: 0px solid transparent;">提交</button>
                            <button class="btn btn-danger" data-dismiss="modal" style="background-color: #fb5e5999;border: 0px solid transparent;">取消</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <body>
 